<html>

  <head>
    <title>Bitly-clone</title>
    <link rel="stylesheet" type="text/css" href="css/application.css">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="js/application.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


    <!-- yield shows what is in the other erb -->